<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/mystyle.css" type="text/css">
    <script src="/javascripts/myjQuery.js"></script>
</head>
<body>
<header>
    <h1>TEXT</h1>
<form action="/company" method="GET">
    <input id="input" type="text"  autocomplete="off">
    <input type="submit" id="ok" value="OK"><br>
    <select name="confirmName" onchange="this.form.submit()" multiple hidden id="confirm"></select>
</form>
</header>
{% block content %}
   <div class="container">
       <div class="row">
    <table>
    <tr>
        <th>COMPANY</th>
        <th>COUNTRY</th>
        <th>PHONE</th>
    </tr>
    {% for i in collection %}
    <tr>
        <td><a href="/company/{{i._id}}">{{i.company}}</a></td>
        <td>{{i.country}}</td>
        <td>{{i.phone}}</td>
    </tr>
    {% endfor %}
    </table>
       </div>
   </div>
{% endblock %}
</body>
</html>